.text {
    -fx-font-smoothing-type: lcd;
}
.text-field{
    -fx-font-size: 14;
}

.hyperlink {
    -fx-text-fill: blue;
    -fx-padding:-2;
}
.hyperlink:hover {
    -fx-underline: true;
    -fx-text-fill: red;
}

#centerVBox{
    -fx-padding: 10;
}

#gridPane{
  -fx-padding: 10;
}
#imageStackPane{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 2;
}
#rightVBox{
    -fx-padding: 10;
}
#rightListView{
    -fx-padding: 0;
}
#textArea{
   -fx-font-size: 16;
   -fx-font-color: black;
}
#textFlow{
    -fx-font-size: 16;
    -fx-fill: red;
    -fx-padding: 4.4px 0px 0px 10px
}
#linksTextFlow{
    -fx-font-size: 14;
    -fx-padding: 4.4px 0px 0px 12px
}
